.flex-child {
    flex: 1;
}

.flex-container {
    display: flex;
}

.price {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.item {
    /* padding-top: 10px; */
    padding-left: 10px;
    margin-bottom: 5px;
}

.card-container {
    background-color: white;
    border: 1px;
    width: 18rem;
}

.card-group {
    padding: 1%;
}

.card {
    margin: 10px;
}