<div class="card-group border-0 rounded-0">
    <div class="card position-relative border-0" style="width: 18rem;">
        <img src="/assets/images/sneaker.png" class="card-img-top" alt="Product example">
        <div class= "card-body bg-transparent">
            <div class="position-absolute start-0 end-50 bottom-0">
                <p class="item">Sneaker</p>
            </div>
            <div class="position-absolute start-50 end-0 bottom-0">
                <p class="price">$100</p>
            </div>
        </div>
    </div>
    <div class="card position-relative border-0 rounded" style="width: 18rem;">
        <img src="/assets/images/sneaker.png" class="card-img-top" alt="Product example">
        <div class= "card-body bg-transparent">
            <div class="position-absolute start-0 end-50 bottom-0">
                <p class="item">Sneaker</p>
            </div>
            <div class="position-absolute start-50 end-0 bottom-0">
                <p class="price">$100</p>
            </div>
        </div>
    </div>
    <div class="card position-relative border-0 rounded" style="width: 18rem;">
        <img src="/assets/images/sneaker.png" class="card-img-top" alt="Product example">
        <div class= "card-body bg-transparent">
            <div class="position-absolute start-0 end-50 bottom-0">
                <p class="item">Sneaker</p>
            </div>
            <div class="position-absolute start-50 end-0 bottom-0">
                <p class="price">$100</p>
            </div>
        </div>
    </div>
</div>
